
body {
  background: #666;
}

.stage {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border: solid black;
}

.cell {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 5px
}

.cellE {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.cell0 {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.cellB {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.play {
    height: 400px;
    width: 80px;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    cursor: pointer;

}


.play h1 {
    text-align: center;
    font-size: 400%;
    color: rgb(100, 100, 100);
}

.play h2 {
    text-align: center;
    font-size: 300%;
    color: rgb(100, 100, 100);
}
