
body {
  background: white;
}

.stage {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 2%;
    z-index: 2;
    border: solid gray;
}

.cell {
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3px;
}

.cellE {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.cell0 {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.cellB {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.2); /*dim the background*/
}

.play {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    z-index: 20;
    cursor: pointer;

}


.play h1 {
    text-align: center;
    font-size: 400%;
    color: rgba(20, 20, 20, 0.8);
}

.play h2 {
    text-align: center;
    font-size: 300%;
    color: rgba(20, 20, 20, 0.8);
}

p {
  font-size: 80%;
}

.time {
  font-size: 300%;
  color: OrangeRed;
  margin-top: 5%;
  margin-left: 13%;
}

.restart {
  margin-left: 13%;
  margin-bottom: 1%;
  font-size: 230%;
  color: rgb(30, 30, 30);
  background-color: white;
  border: solid black;
}

.restart:hover {
  color: OrangeRed;
}

.mn {
  background-color: white;
  border: solid 3px black;
}

.ms {
  background-color: white;
  border: solid 3px OrangeRed;
}
